@import url("https://rsms.me/inter/inter.css%27");

html {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

a {
    background-color: transparent;
}

.image-3 {
    width: 110px;
    margin-left: 450px;
    margin-right: 350px;
    
}

.image-4 {
    position: relative;
    height: 100%;
    background-image: url(/components/assets/foto.jpeg);
    background-repeat: repeat-x;
    background-position: 50% 50%;
    background-position-y: top;
}

#nav-head {
    display: flex;
    align-items: center;
    background-color: #4e8acf;
    height: 100px;

}

.w-nav-brand {
    position: relative;
    text-decoration: none;
    color: #333333;
}


.nav-options {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 20px;

}

.container-image {
    height: 550px;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-text{
    display: flex;
    width: 50%;
}
.paragraph{
    margin-left: 12%;
    
}
.paragraph-2{
    margin-left: 12%;
}
h1{
    font-family: 'Inter', sans-serif;
    color: #4e88d4;
}
.fale-conosco{
    display: flex;
    flex-direction: column;
    
}